<div class="banner">
  <div class="banner-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('<%= cl_image_path "tjp/tjp_banner" %>')">
    <div class="banner-incrustation">
      <%= cl_image_tag "tjp/logo_whc" %>
      <p class="big-p"><%= t('pages.home.banner_incrustation_title') %></p>
      <p><%= t('pages.home.banner_incrustation_date') %></p>
    </div>
  </div>
  <div class="banner-baseline" >
    <h1><%= t('pages.home.h1') %></h1>
    <p>
      <%= t('pages.home.banner_baseline_start') %>
      <strong><%= t('pages.home.banner_baseline_date') %></strong>
      <%= t('pages.home.banner_baseline_end') %>
    </p>
    <%= link_to t('pages.home.banner_cta'), info_registration_path, class: "btn btn-primary px-4 py-3 rounded-3" %>
  </div>
</div>
