<div class="section home-partners">
  <h2><%= t('pages.home.partners_h2') %></h2>
  <div class="partners-list">
    <div class="partner-item">
      <%= cl_image_tag "tjp/credit_mutuel_logo", class: "partner-logo" %>
      <p>Crédit Mutuel</p>
    </div>
    <div class="partner-item">
      <%= cl_image_tag "tjp/zeste_logo", class: "partner-logo" %>
      <p>Zeste Santé</p>
    </div>
    <div class="partner-item">
      <%= cl_image_tag "tjp/brandsfit_logo", class: "partner-logo" %>
      <p>Brandsfit</p>
    </div>
    <div class="partner-item">
      <%= cl_image_tag "tjp/cosy_logo", class: "partner-logo" %>
      <p>Cosy Lunch</p>
    </div>
    <div class="partner-item">
      <%= cl_image_tag "tjp/bc_logo", class: "partner-logo" %>
      <p>BC Nord</p>
    </div>
  </div>
</div>
