<nav class="navbar navbar-expand-m navbar-dark">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <img src="https://wattignies-hockey-club.fr/wp-content/uploads/2023/07/logo_WHC.png" alt="WHC Logo">
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t('pages.home.title'), root_path, class: "nav-link active", 'aria-current': 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to t('pages.register.title'), register_path, class: "nav-link" %>
        </li>
        <li class="nav-item" >
          <%= link_to t('pages.information.title'), information_path, class: "nav-link" %>
        </li>
        <li class="nav-item" >
          <%= link_to t('pages.pictures.title'), pictures_path, class: "nav-link" %>
        </li>
        <li class="nav-item" >
          <%= link_to t('pages.partners.title'), partners_path, class: "nav-link" %>
        </li>
        <li class="nav-item" >
          <%= link_to t('pages.schedule_and_results.title'), schedule_and_results_path, class: "nav-link disabled" %>
        </li>

        <li class="nav-item dropdown locale-switch">
          <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            🇫🇷 / 🇬🇧
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Français 🇫🇷", root_path(locale: :fr)  %>
            </li>
            <li>
              <%= link_to "English 🇬🇧", root_path(locale: :en) %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
